::-webkit-scrollbar {
  display: none;
}

*,*::after,*::before{
  box-sizing: border-box;
}

:root{
  --hue: 200;
  --saturation:80%;
  

}

body{
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(59, 58, 56);
  color: rgba(185, 184, 176, 0.911);
  margin: 0;

}

h1{
  color: #5ff5f8;
  margin: 0;
  padding: 0;
}

.myName{
  margin-left:50vw;
  transform: translateX(-50%);

}

.Game{
  width:100vw;
  height:100vh;
  z-index: 0;
  top: 0px;
  position: fixed;
  border:#5ff5f8;
  border-style: solid;
  border-width: 3px;
  z-index: 0;
}

.title{
  position: fixed;
  top: 1vh;
  z-index: 4;
  margin:0;
  padding:0;
  
}

.paddle{
  --position: 50;


  background-color: #5ff5f8;
  position:absolute;
  top: calc(var(--position)* 1vh);
  transform: translateY(-50%);
  width: 2vh;
  height:15vh;
}

.paddle.left{
  left: 1vw;
}

.paddle.right{
  right: 1vw;
}

.ball{
  --x: 50;
  --y: 50;
  
  
  background-color: #5ff5f8;
  position:absolute;
  left:calc(var(--x)* 1vw);
  top: calc(var(--y)* 1vh);
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height:2.5vh;
  border-radius:35%
  
}